@tailwind preflight;
@tailwind components;
@tailwind utilities;

$main-color: #1BCAC1;

.text-main-color {
    color: $main-color;
}

@variants hover, focus {
    .text-main-color {
        color: $main-color;
    }
}

.bg-main-color {
    background-color: $main-color;
}

@variants hover, focus {
    .bg-main-color {
        background-color: $main-color;
    }
}
.border-main-color {
    border-color: $main-color;
}

@variants hover, focus {
    .border-main-color {
        border-color: $main-color;
    }
}